@font-face {
  font-family: "iconfont"; /* Project id 4001918 */
  src: url('//at.alicdn.com/t/c/font_4001918_69e0n9rv6sj.woff2?t=1684144108364') format('woff2'),
       url('//at.alicdn.com/t/c/font_4001918_69e0n9rv6sj.woff?t=1684144108364') format('woff'),
       url('//at.alicdn.com/t/c/font_4001918_69e0n9rv6sj.ttf?t=1684144108364') format('truetype'),
       url('//at.alicdn.com/t/c/font_4001918_69e0n9rv6sj.svg?t=1684144108364#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-robot:before {
  content: "\e64b";
}

.icon-loading:before {
  content: "\eb80";
}

.icon-manual-cs:before {
  content: "\e87c";
}

.icon-share:before {
  content: "\e600";
}

.icon-member-o:before {
  content: "\e692";
}

.icon-level-o:before {
  content: "\e641";
}

.icon-dialogue-o:before {
  content: "\e615";
}

.icon-user:before {
  content: "\e682";
}

.icon-arrow-back:before {
  content: "\e61e";
}

.icon-close:before {
  content: "\e61f";
}

.icon-arrow-down:before {
  content: "\e621";
}

.icon-arrow-right:before {
  content: "\e622";
}

.icon-cs:before {
  content: "\e63c";
}

.icon-member:before {
  content: "\e654";
}

.icon-speed:before {
  content: "\e61b";
}

.icon-send:before {
  content: "\e642";
}

.icon-users:before {
  content: "\e610";
}

.icon-chat:before {
  content: "\e68a";
}

.icon-dialogue:before {
  content: "\e99e";
}

.icon-level:before {
  content: "\e646";
}
